modules = ["dotnet-7.0"]
run = "dotnet run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40025907
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd myapptodo && dotnet run"
